<% layout('layouts/boilerplate') -%>
<div class="row mb-3">
    <h1 class="text-center">New Campground!</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds" method="post" class="validation-form" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="q1" class="form-label">Title:</label>
                <input type="text" class="form-control" name="title" id="q1" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="q2" class="form-label">Location:</label>
                <input type="text" class="form-control" name="location" id="q2" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="q4" class="form-label">Price:</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" class="form-control" name="price" id="q4" placeholder="0.00"
                        aria-describedby="basic-addon1" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="imageID" name="image" multiple required>
                <label class="input-group-text" for="imageID">Images</label>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="q3" class="form-label">description:</label>
                <textarea name="description" id="q3" cols="5" rows="1" class="form-control" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success">CREATE!</button>
            </div>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
</div>